<script language="JavaScript">
    function count_selected() {
        var checked = 0;
        checkboxes = document.getElementsByName("selected-target");
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked) {
                checked += 1;
            }
        }
        if (checked == 0) {
            document.getElementById("displaySelected").innerHTML = "";
        }
        else {
            document.getElementById("displaySelected").innerHTML = checked + " Targets Selected";
        }
    }

    function single_select() {
        count_selected();
        document.getElementById("optionSelectAll").innerHTML = "";
        document.getElementById("selectPage").checked = false;
        document.getElementById("isSelectAll").value = "False";
    }

    function select_page(source, totalTargets) {
        checkboxes = document.getElementsByName("selected-target");
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
        count_selected();
        document.getElementById("isSelectAll").value = "False";
        if (source.checked) {
            document.getElementById("optionSelectAll").innerHTML = "Select All " + totalTargets + " Target(s) Listed";
        }
        else {
            document.getElementById("optionSelectAll").innerHTML = "";
        }
    }

    function check_all_checkboxes() {
        var selectedTargets = [];
        var checkboxes = document.getElementsByName("selected-target");
        var currentPageIndex = parseInt(document.querySelector('.paginate_button.current').innerText);

        // Check all checkboxes on the current page
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
            selectedTargets.push(checkboxes[i].value);
        }
    
        // Check if there's a "Next" button
        var nextButton = document.getElementById('DataTables_Table_0_next');
        var hasNextPage = nextButton !== null;
    
        // While there's a next page, go to the next page and check all checkboxes
        while (hasNextPage && !nextButton.classList.contains('disabled')) {
            nextButton.click(); 
        
            checkboxes = document.getElementsByName("selected-target");
            for (var j = 0; j < checkboxes.length; j++) {
                checkboxes[j].checked = true;
                selectedTargets.push(checkboxes[j].value); 
            }
            // Check if there's another "Next" button
            nextButton = document.getElementById('DataTables_Table_0_next');
            hasNextPage = nextButton !== null;
        }
        
        var previousButton = document.getElementById('DataTables_Table_0_previous');
        while (previousButton !== null && !previousButton.classList.contains('disabled') ) {
            previousButton.click(); 
            checkboxes = document.getElementsByName("selected-target"); 
            for (var k = 0; k < checkboxes.length; k++) {
                if (!selectedTargets.includes(checkboxes[k].value)) {
                    checkboxes[k].checked = true;
                    selectedTargets.push(checkboxes[k].value); 
                }
            }
            previousButton = document.getElementById('DataTables_Table_0_previous');
        }  
        count_selected();
    }
    
    function select_all(totalTargets) {
        check_all_checkboxes();
        document.getElementById("isSelectAll").value = "True";
        document.getElementById("displaySelected").innerHTML = "All " + totalTargets + " Targets Selected";
        document.getElementById("optionSelectAll").innerHTML = "";
    }

    function export_selected_targets() {
        var selectedTargets = [];
        checkboxes = document.getElementsByName("selected-target");
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked) {
                selectedTargets.push(checkboxes[i].value);
            }
        }
    
        var nextButton = document.getElementById('DataTables_Table_0_next');
        var hasNextPage = nextButton !== null;
    
        while (hasNextPage && !nextButton.classList.contains('disabled')) {
            nextButton.click(); 
        
            checkboxes = document.getElementsByName("selected-target");
            for (var j = 0; j < checkboxes.length; j++) {
                if(checkboxes[j].checked);
                selectedTargets.push(checkboxes[j].value); 
            }
            nextButton = document.getElementById('DataTables_Table_0_next');
            hasNextPage = nextButton !== null;
        }
        
        var previousButton = document.getElementById('DataTables_Table_0_previous');
        while (previousButton !== null && !previousButton.classList.contains('disabled') ) {
            previousButton.click(); 
            checkboxes = document.getElementsByName("selected-target"); 
            for (var k = 0; k < checkboxes.length; k++) {
                if (!selectedTargets.includes(checkboxes[k].value)) {
                    if(checkboxes[k].checked){
                        selectedTargets.push(checkboxes[k].value);
                    } 
                }
            }
            previousButton = document.getElementById('DataTables_Table_0_previous');
        }  
    
        var url = "{% url 'targets:export' %}?selected_targets=" + selectedTargets;
    
        window.location.href = url;
    }
</script>