#featured-image {
  height: auto;
  width: 100%;
  padding: 2% 0 2% 0;
}

dl {
  padding-top: 3%;
}

.tab-content {
  padding: 2% 0 0 0;
}

span.featured {
  pointer-events: none;
}


.container {
  margin-left: 0px;
}

.target-right > * {
  width: 1000px;
}

.target-right > * {
  width: 1000px;
}

#tabs {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

#tabs .nav-item,
#tabs .nav-link {
  white-space: nowrap;
}

#tabs {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

#tabs .nav-item,
#tabs .nav-link {
  white-space: nowrap;
}